header div img {
    width: 100%;
    background-color: rgb(11, 151, 18);
    position: static;
    }
    header div h2 p:hover {
        background-color: rgb(250, 190, 60);
      }
    
    div h2 p{
        position: absolute;
        top: 90%;
        background-color:yellow ;
    float:left;
    
    border-color: yellow;
    border: yellow;
    border-width: 70%;
    }
    
    
     .box{
      /* position: relative; */
    padding-top: 10px;
    padding-left: 20px;
     /* float: right; */
      /* width: 50%; */
      border-top: 5px solid yellow;
     }
      
     
     .box1{
    
      padding-top: 10px;
      padding-left: 20px;
      /* float:left; */
        /* width: 50%; */
        border-top: 5px solid yellow;
       }
    
       .box3{
         float: left;
         width: 50%;
  
         position:left;
       }
       .box4{
         float:right;
        position:right;
        width: 50%;
        /* display:inline-block; */
       
      }
      p:nth-child(2){

        text-align: center;
      }